.header {
  background-image: url("../img/image-home11.jpg");
  background-size: cover;
  background-position: bottom;
}
.jumbotron {
  min-height: 500px;
}

.Slogan {
  font-size: 1rem;
  color:#0583F2;
  font-family: 'baskerville';
  font-weight: 700;
}
