.containerInfos {
  margin: 10px auto;
  background-color: ghostwhite;
  text-align: left;
  border-radius: 0 0 5px 5px ;
  border: 1px solid #ececec;
}
.containerInfos h1{
  margin: 20px 0
}
.containerInfos h2{
  margin: 15px 0
}

.image {
  width: 100%;
  height: auto;
}
