h1 .title{
  margin: 70px 0 35px 0;
  font-family: 'Roboto', sans-serif;
  color:#0583F2;
}

/*************************************************/
/*****************Responsive part*****************/
/*************************************************/

@media screen and (max-width:768px){
  .title{
    margin: 20px 0 10px 0;
    font-size: 2rem;
  }  
}