.header {
  background-image: url("../img/image-home.jpg");
  background-size: cover;
  background-position: center;
}
.jumbotron {
  min-height: 100px;
}

.Slogan {
  font-size: 10px;
  color:#00aeef;
}
