@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
.container {
  width: 95%;
}
label {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-primary {
  background-color: #17b5ef !important;
  border: none;
}

.italicMessage {
  font-style: italic;
}
h1,
p,
h2,
h3,
input,
label{
  font-family: 'Roboto', sans-serif!important;
}
/*************************************************/
/*****************Responsive part*****************/
/*************************************************/

@media screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}
